example.barcode.mc3.sat90.tsv
example.barcode.mc3.tsv
example.barcode.saturation.png
example.barcode.structure.png
example.fq
example_logfile.txt
example_un.fq
Sample1.barcode.mc3.sat90.tsv
Sample1.barcode.mc3.tsv
Sample1.barcode.saturation.png
Sample1.barcode.structure.png
Sample1.fq
Sample1_logfile.txt
Sample1_un.fq
Sample2.barcode.mc3.sat90.tsv
Sample2.barcode.mc3.tsv
Sample2.barcode.saturation.png
Sample2.barcode.structure.png
Sample2.fq
Sample2_logfile.txt
Sample2_un.fq
Sample3.barcode.mc3.sat90.tsv
Sample3.barcode.mc3.tsv
Sample3.barcode.saturation.png
Sample3.barcode.structure.png
Sample3.fq
Sample3_logfile.txt
Sample3_un.fq
